.mainImage {
    width: 100%;
}

.item {
    all: unset;
    border-radius: 10%;
    box-shadow: 2px 5px #888888;
    width: 200px;
    height: 200px;
    border: 3px black solid;
}
@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-3deg);
    }
    20% {
      transform: rotateZ(3deg);
    }
    25% {
      transform: rotateZ(-2deg);
    }
    30% {
      transform: rotateZ(2deg);
    }
    35% {
      transform: rotateZ(-1deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }

  @keyframes fadeIn {
    0%, 7% {
      opacity:0;
    }
    15% {
      opacity: .3;
    }
    20% {
      opacity: .4;
    }
    25% {
      opacity: .5;
    }
    30% {
      opacity: .6;
    }
    35% {
      opacity: .7;
    }
    40% {
      opacity: .8;
    }
    55% {
      opacity: .9;
    }
    75%, 100% {
      opacity: 1;
    }
  }



.libraryItem {
    all: unset;
    border-radius: 10%;
    box-shadow: 2px 5px #888888;
    aspect-ratio: 1 / 1;
    margin: 2.5%;
    border: 3px black solid;
    float:left; display:inline;
    
    width:25%
}

.libraryItem:hover {
    animation-name: wiggle;
    animation-duration: 1s;
}

.searchItem {
  all: unset;
  font-size: 50px;
  margin: 1.25%;
  margin-left: 0;
  padding: 2.5%;
  width: 95%;
  background-color: #222222;

  transition: background-color .5s;
}


.searchItem:hover {
  background-color: #444444

}

.searchItemArtist {
  font-size: 15px;
  margin: .5%;
  padding: 1%;
}


.leftOfPopUp {
    width: 20%;
    margin: 1%;
    
    float: left;
}
.rightOfPopUp {
    width: 22%;
    float:right;
    
}

.appBackground {
  background-image: linear-gradient( #292b2c, #111111);
  height: 100%;
  margin-top: 65px;
}

