.mainImage {
    width: 100%;
}

.record {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: black;
}

.recordMiddle {
    
    border-width: 5px;
    border-radius: 50%;
    width: 20%;
    height: 20%;
    background-color: white;
    border-color: black;
}

.leftOfPopUp {
    width: 20%;
    margin: 1%;
    
    
    float: left;
}
.rightOfPopUp {
    width: 5%;
    padding-left: 20%;
    float:right;
}