.mainImage {
    width: 100%;
}

.item {
    all: unset;
    border-radius: 10%;
    box-shadow: 2px 5px #888888;
    width: 200px;
    height: 200px;
    border: 3px black solid;
}
@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }

.libraryItem {
    all: unset;
    border-radius: 10%;
    box-shadow: 2px 5px #888888;
    aspect-ratio: 1 / 1;
    margin: 2.5%;
    border: 3px black solid;
    float:left; display:inline;
    
    width:25%
}

.libraryItem:hover {
    animation-name: wiggle;
    animation-duration: 1s;
}



.leftOfPopUp {
    width: 20%;
    margin: 1%;
    
    float: left;
}
.rightOfPopUp {
    width: 22%;
    float:right;
    
}


