.popup-content {
    margin: auto;
    background: rgb(0, 0, 255);
    width: 100%;
    padding: 5px;
  }
  .popup-arrow {
    color: rgb(255, 255, 255);
  }
  [role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  
  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }

  h1 {
    text-align: center;
  }
  a {
    all: unset;
    letter-spacing: 0.3em;
    color: #1db954;
  }

  